<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Internet_Check.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"  />   
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Internet_Check.Properties.Settings>
            <setting name="SettingInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SettingDarkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingWindowsStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingHideWhenMin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingTask" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingDoubleCheckServer" serializeAs="String">
                <value>Next</value>
            </setting>
            <setting name="SettingUseAlternativePingMethod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingCheckBoxAllPingResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingCheckBoxShowMinimizedInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingTextBoxTaskSchedulerStopTaskAfterDays"
                serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SettingCheckBoxDisallowStartIfOnBatteries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingCheckBoxStopIfGoingOnBatteries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingCheckBoxStopOnIdleEnd" serializeAs="String">
                <value>False</value>
            </setting>
        </Internet_Check.Properties.Settings>
    </userSettings>
</configuration>